
body {
    background-image: url('/static/images/xoi.jpg');
    background-size: auto; /* Đảm bảo ảnh nền phủ hết phần nền của thẻ body */
    background-position: center; /* Căn chỉnh ảnh nền vào giữa */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    /* Các thuộc tính khác bạn có thể thêm vào nếu cần */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.promo {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}
